.navbar{
    background-color: cadetblue;
    font-size: 25px;
}

.img-about{
    width: 300px;
    height: 300px;
}

.img-head{
    width: 400px;
}

.heading-line{
    height: 3px;
    width: 200px;
}

.tech-img{
    height: 300px;
    object-fit: cover;
}

.dark{
    background-color: #011627;
    color: #83f3ed;
    height: 300px;
}

.footer{
    background-color: darkgray ;
    color: white;
}

@media (max-width: 1000px){
    .list{
        list-style-type: none;
    }

   
}